
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  background: hsl(217, 54%, 11%) ;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 340px;
  background: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 25px;
}

.card__img {
  /* width: 100%; */
  border-radius: 15px;
  position: relative;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: background-color 1s, background-image 1s;
}

.card__img-overlay:hover {
  background-color: hsla(178, 100%, 50%, 0.5);
  background-image: url('./images/icon-view.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20%;
}

.card__content {
  padding: 20px 0;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card__content h3 {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

.card__content p {
  margin-top: 15px;
  margin-bottom: 25px;
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
}

.card__priceline, .card__priceline-eth, .card__priceline-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__priceline img {
  margin-right: 10px;
}

.card__priceline-eth {
  color: hsl(178, 100%, 50%);
} 

.card__priceline-days {
  color: hsl(215, 51%, 70%);
}

.card__profile {
  padding-top: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.card__profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}

.card__profile p {
  margin-left: 15px;
  color: hsl(215, 51%, 70%);
}

.card__profile-name {
  color: hsl(0, 0%, 100%);
}

.hover__effect {
  transition: color 1s;
}
.hover__effect:hover {
  color: hsl(178, 100%, 50%);
}
